<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div>
    <span>
      <input type="text" placeholder="Account name" formControlName="name" />
      @if (form.get('name')?.hasError('required')) {
        <span>*</span>
      }
    </span>

    @if (form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)) {
      <div>
        @if (form.get('name')?.hasError('required')) {
          <div>Account name is required</div>
        }
        @if (form.get('name')?.hasError('minlength')) {
          <div>Account name must be at least 2 characters long</div>
        }
        @if (form.get('name')?.hasError('maxlength')) {
          <div>Account name cannot be greater than 30 characters long</div>
        }
      </div>
    }
  </div>
  <div>
    <label><input type="radio" value="chequing" formControlName="type" /> Chequing</label>
    <label><input type="radio" value="savings" formControlName="type" /> Savings</label>
  </div>
  <div>
    <span>
      <input
        type="number"
        placeholder="Balance"
        formControlName="balance"
        appNumbersOnlyDirective
      />
      @if (form.get('balance')?.hasError('required')) {
        <span>*</span>
      }
    </span>

    @if (
      form.get('balance')?.invalid && (form.get('balance')?.touched || form.get('balance')?.dirty)
    ) {
      <div>
        @if (form.get('balance')?.hasError('required')) {
          <div>An initial balance is required</div>
        }
        @if (form.get('balance')?.hasError('min')) {
          <div>Initial balance cannot be negative</div>
        }
      </div>
    }
  </div>
  <button type="submit" [disabled]="form.invalid">Create account</button>
</form>
